/* Main CSS file */
* {
  box-sizing: border-box;
}

.container {
  width: 533px;
}


/*  ****STYLING FOR HEADER/TITLE****
[x] - background of rgb(66, 139, 202);
[x] - font color of white
[x] - border radius ~3px?
[x] - width of 533px and height of 75px
[x] - font family of helvetica/sans-serif
[x] - box-shadow left, top, right
*/


.header {
  /* @TODO make the bottom box shadow not show on top of the form */
  background-color: rgb(66, 139, 202);
  border-radius: 3px 3px 0 0;
  box-shadow: 0px 0px 5px;
  display: inline-block;
  height: 75px;
  line-height: 75px;
  padding: 0 24px;
  width: 533px;
}
.title {
  color: white;
  font-family: Helvetica, sans-serif;
  font-weight: lighter;
  font-size: 1.5rem;
  margin: 0;
}

/*  ****STYLING FOR THE FORM ****
[x] - height of 509px
[x] - padding top/bottom of 33
[x] - padding left/right of 23
[x] - box shadow
*/
.form {
  box-shadow: 0px 0px 5px;
  height: 509px;
  padding: 33px 23px;
}
